@model IEnumerable<TodoList.Models.TodoItem>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<ol>
    @foreach (var todoItem in Model)
    {
        <li>
            <h3>@todoItem.Title</h3>
            @using(Html.BeginForm("Delete", "TodoItems", new { Id = todoItem.Id }, FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                
                <button type="submit">Delete</button>
            }
        </li>
    }
</ol>
